* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(207, 207, 207);
    /* background img skal sættes ind her, men virker pt ikke for mif*/
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 30px;
    margin: 0;
}


/* Footer */
footer {
    background-color: #2A2A2A;
    height: 450px;
    color: white;
}

.soMe {
    text-align: center;
    padding-top: 3vh;
}

.soMe article {
    margin: 3vh;
}

.soMe div{
    margin: 2vh;
    height: 76px;
    width: 76px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}

.footerlinks {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;

}
.footerlinks ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

.footerlinks li {
    display: inline;
    padding: 0 2vw;
}

.sponsor img{
    width: 10vw;
}

/*KUNSTNER SIDEN*/

/*vores default item*/
.sqr-mainArea{
    height: 120px;
    width: 120px;
    margin: 20px;
    float: left; /*ellers kommer det til at ligge under hinanden*/
    background-color: #F2561D;
}

/*VARIATIONER i farve*/
.sqr-mainArea_item-peach{
    background-color: #F2A35E;
}
.sqr-mainArea_item-black{
    background-color: #403B3D;
}.sqr-mainArea_item-salmon{
    background-color: #F27830;
    width: 8vw;
}