html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background img skal sættes ind her, men virker pt ikke for mif*/
    font-family: 'Open Sans', sans-serif;
    background-image: url('./img/beton.jpg');
    background-repeat: repeat;
    background-size: cover;
}

h2 {
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    margin: 0;
}


/* Farver */
.black {
    background-color: #2A2A2A;
    color: white;
}

.grey {
    background-color: #403b3d;
    color: white;
}

.white{
    background-color: white;
    color: black;
}

.lightOrange {
    background-color: #F2A35E;
}

.orange {
    background-color: #F27830;
}
.darkOrange {
    background-color: #F2561D;
}


.wrapper {
    margin: 4vw 4vw;
}

/*burger menu*/
  
.topnav #sider {
    display: none; /*Sættes til none*/
}

.topnav a {
    color: white;
    padding: 18px 25px;
    text-decoration: none;
    font-size: 30px;
    display: block;
    text-align: center;

}
  
.topnav a.icon {
    background: rgba(242, 86, 29, 0.945);
    display: block;
    margin-right: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.topnav a:hover {
    color: black;
}

.navigation {
    height: 70px;
    width: 100%;
    background-color: #403b3d;
    display: flex;
}

.logo {
    height: 70px;
    margin-left: 30px;
    text-align: center;
}

a.navimg {
    padding: 0;
}

.flag {
    position: absolute;
    top: 0;
    right: 105px;
    height: 20px;
    margin: 25px;
    cursor: pointer;
}

/* Knap */
.knap-outer {
    height: 60px;
    width: 210px;
}

.knap-inner {
    border: 5px solid #2A2A2A;
    height: 65px;
    width: 215px;
    position: relative;
    left: 5px;
    bottom: 10px;
    cursor: pointer;
}

.knap-inner p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 13px 0;
}

.knap-inner p:hover {
    text-decoration: underline;
}

/* Overskrifter */

.heading-outer {
    height: 80px;
    width: 300px;
    margin: 40px auto;
    background-color: #403B3D;
}

.heading-inner {
    border: 5px solid #F27830;
    height: 80px;
    width: 300px;
    position: relative;
    left: 10px;
    bottom: 10px;
}

.heading-inner h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2.5em;
    margin: 15px 30px 0 15px
}




/* Footer */
footer {
    background-color: #2A2A2A;
    color: white;
    height: 378px;
    width: 100%;
    padding-top: 50px;
    margin-top: 135px;
    margin-bottom: 0px;
}

.soMe {
    text-align: center;
    padding-top: 3vh;
}

.soMe article {
    margin: 3vh;
}

footer a:hover{
    text-decoration: underline;
    color: #E3E3E3;
}


/* Her skal sættes ikoner ind i stedet for div kasser */
/* .soMe div{
    margin: 2vh;
    height: 76px;
    width: 76px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
} */

.fa-facebook{
    color: #3B5998;
    font-size: 2em;
    margin-right: 8px;
    /* background-color: white; */

}

.fa-instagram{
    font-size: 2em;
}

.footerlinks {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin: auto;

}
.footerlinks ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

.footerlinks li {
    display: inline;
    padding: 0 2vw;
}

.sponsor {
    margin-left: auto;
    margin-right: auto;
    width: 62%;
}

.sponsor img{
    width: 8vw;
    margin: 2vh 2vw;
}
/*LINK STYLING*/

a:link{
    color:  #E3E3E3;
}
a:visited {
    color: #E3E3E3;
  }
a:active{
    color: #E3E3E3;
}


/* Landing page*/
.hero-image {
    background-image: url("./img/crowd.jpg");
    width: 100%;
    height: 82vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    padding: 18vh 10vw;
}

.whiteText {
    color: white;
}

.orangeText {
    color: #F27830;
}

.grid-landing {
    display: grid;
    grid-gap: 4%;
    grid-template-areas: 
        'nye-rammer lokation'
        'nye-rammer events';
    grid-template-columns: 48% 48%;
}

.text {
    padding: 30px;
    line-height: 25px;
}

.lp_nye-rammer {
    grid-area: nye-rammer;
}

.lp_lokation {
    grid-area: lokation;
}

.lp_events {
    grid-area: events;
}

.lp_knap {
    grid-area: lp_knap;
    margin: 50px auto;
}

.lp_events .knap-inner {
    border-color: white;
}
iframe {
    width: 670px;
    height: 376px;
}

/* -----------------------------------------------------*/
/*KUNSTNER SIDEN*/

.kunstner-wrapper{
    margin: 4vw 11vw;
}

.forms{
    
    margin: auto;
    width: 500px;
    
}
.search{
    /* float: left; */
}

.filter{
    float: right; 
}

.fa-search{
    cursor: pointer;
}
.fa-filter{
    cursor: pointer;
    /* font-size: 2em; */
}

/*vores default item*/
.sqr-mainArea_item{
    height: 220px;
    width: 270px;
    text-align: center;
    padding: 0 5px;
    padding-top: 75px;
    margin: 10px;
    float: left; /*ellers kommer det til at ligge under hinanden*/
    background-color: #F2561D;
    cursor: pointer;
}

/*VARIATIONER i farve*/
.sqr-mainArea_item-peach{
    background-color: #F2A35E;
}
.sqr-mainArea_item-black{
    background-color: #403B3D;
}
.sqr-mainArea_item-salmon{
    background-color: #F27830;
}

/*Variation i font color*/
.sqr-mainArea_item-textcolor-white{
    color: white;
}

/* .footer_kunstner{
    margin-top: 48px;
} */

/*MODAL*/
.bandModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /*Enable scroll if needed*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}
  .band-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
   
}
.band-desc{
    padding: 0 2vw;

}
.band-desc h2{
    font-size: 2.5vw;
}
.band-img{
    background-image: url('./img/bandfoto.jpg');
    margin: 20px 20px;
    margin-top: 40px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}


  /* The Close Button */
.btn_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .btn_close:hover,
  .btn_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/*---------------------------------------*/
/* Program */
.days {
    display: flex;
    margin: 4vw auto;
    width: 60%;
}

.days .knap-outer {
    margin: auto;
}

.bigButton-outer {
    height: 150px;
    width: 280px;
}

.bigButton-inner {
    height: 150px;
    width: 285px;
}

.bigButton-inner p {
    font-size: 35px;
    margin: 32px 0;
    color: black;
}

.fredag {
    margin: auto auto 6vw auto;
    padding: 2vw;

}

table {
    margin-top: 2vw;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    height: 50px;
}

th {
    width: 100px;
}

.lørdag {
    margin: auto;
    padding: 2vw;

}

a {
    text-decoration: none;
}

a:hover p{
    text-decoration: underline;
}

#footer-program {
    margin-top: 48px;
}

/* Scener */
.grid-scener {
    display: grid;
    grid-gap: 4%;
    grid-template-areas: 
    'info info'
    'royal img'
    'joule img'
    'baghuset img'
    'watt kulkælder'
    'skraen .'    ;
    grid-template-columns: 48% 48%;
}

.sceneinfo {grid-area: info;}
.royal { grid-area: royal;}
.joule { grid-area: joule;}
.baghuset { grid-area: baghuset;}
.skraen { grid-area: skraen;}
.watt { grid-area: watt;}
.kulkælder { grid-area: kulkælder;}
.img-scener {
    grid-area: img;
    height: 360px;
}

#footer-scene {
    margin-top: 268px;
}

/*Information*/
.grid-info {
    display: grid;
    grid-gap: 4%;
    grid-template-areas: 
    'hvornår hvornår'
    'priser forplejning'
    'ungeindslag vagter'
    'parkering overnatning'
    'kontakt1 kontakt2'
    'tilmeld tilmeld'    ;
    grid-template-columns: 48% 48%;
}

.hvornår {grid-area: hvornår;}
.priser { grid-area: priser;}
.forplejning { grid-area: forplejning;}
.ungeindslag { grid-area: ungeindslag;}
.vagter { grid-area: vagter;}
.parkering { grid-area: parkering;}
.overnatning { grid-area: overnatning;}
.kontakt1 { grid-area: kontakt1;}
.kontakt2 { grid-area: kontakt2;}
.tilmeld {grid-area: tilmeld;}

#footer-info {
    margin-top: 330px;
}
/*For Bands*/


.grid-bands {
    display: grid;
    grid-gap: 4%;
    grid-template-areas: 
    'info info'
    'mødetid ansvarlig'
    'parkering_bands garderobe'
    'alkohol kontakt1'
    '. kontakt2'
    'tilmeld tilmeld'    ;
    grid-template-columns: 48% 48%;
}

.info {grid-area: info;}
.mødetid { grid-area: mødetid;}
.ansvarlig { grid-area: ansvarlig;}
.alkohol { grid-area: alkohol;}
.garderobe { grid-area: garderobe;}
.parkering_bands { grid-area: parkering_bands;}
.kontakt1 { grid-area: kontakt1;}
.kontakt2 { grid-area: kontakt2;}
.tilmeld {grid-area: tilmeld;}



#footer-bands {
    margin-top: 340px;
}
