html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background img skal sættes ind her, men virker pt ikke for mif*/
    font-family: 'Open Sans', sans-serif;
    background-image: url('./img/beton.jpg');
    background-repeat: repeat;
    background-size: cover;
}

h2 {
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    margin: 0;
}

/* Farver */
.black {
    background-color: #2A2A2A;
    color: white;
}

.grey {
    background-color: #403b3d;
    color: white;
}

.lightOrange {
    background-color: #F2A35E;
}

.orange {
    background-color: #F27830;
}
.darkOrange {
    background-color: #F2561D;
}


.wrapper {
    margin: 4vw 4vw;
}

/*burger menu*/
  
.topnav #sider {
    display: none; /*Sættes til none*/
}

.topnav a {
    color: white;
    padding: 18px 25px;
    text-decoration: none;
    font-size: 30px;
    display: block;
    text-align: center;

}
  
.topnav a.icon {
    background: rgba(242, 86, 29, 0.945);
    display: block;
    float: right;
    margin-right: 30px;
}

.topnav a:hover {
    color: black;
}

.navigation {
    height: 10vh;
    width: 100%;
    background-color: #403b3d;
}


/* Knap */
.knap-outer {
    height: 60px;
    width: 210px;
}

.knap-inner {
    border: 5px solid #2A2A2A;
    height: 65px;
    width: 215px;
    position: relative;
    left: 5px;
    bottom: 10px;
}

.knap-inner p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 13px 0;
}

/* Overskrifter */

.heading-outer {
    height: 80px;
    width: 300px;
    margin: 40px auto;
    background-color: #403B3D;
}

.heading-inner {
    border: 5px solid #F27830;
    height: 80px;
    width: 300px;
    position: relative;
    left: 10px;
    bottom: 10px;
}

.heading-inner h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2.5em;
    margin: 15px 30px 0 15px
}




/* Footer */
footer {
    background-color: #2A2A2A;
    color: white;
    height: 378px;
    width: 100%;
}

.soMe {
    text-align: center;
    padding-top: 3vh;
}

.soMe article {
    margin: 3vh;
}



/* Her skal sættes ikoner ind i stedet for div kasser */
.soMe div{
    margin: 2vh;
    height: 76px;
    width: 76px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}

.footerlinks {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    width: 46%;
    margin: auto;

}
.footerlinks ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

.footerlinks li {
    display: inline;
    padding: 0 2vw;
}

.sponsor {
    margin-left: auto;
    margin-right: auto;
    width: 62%;
}

.sponsor img{
    width: 8vw;
    margin: 2vh 2vw;
}
/*LINK STYLING*/

a:link{
    color:  #E3E3E3;
}
a:visited {
    color: #E3E3E3;
  }
a:active{
    color: #E3E3E3;
}

/* Landing page*/
.hero-image {
    background-image: url("./img/crowd.jpg");
    width: 100%;
    height: 82vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    padding: 18vh 10vw;
}

.whiteText {
    color: white;
}

.orangeText {
    color: #F27830;
}

.grid-landing {
    display: grid;
    grid-gap: 4%;
    grid-template-areas: 
        'nye-rammer lokation'
        'nye-rammer events'
        'nye-rammer lp_knap';
    grid-template-columns: 48% 48%;
}

.text {
    padding: 30px;
    line-height: 25px;
}

.lp_nye-rammer {
    grid-area: nye-rammer;
}

.lp_lokation {
    grid-area: lokation;
}

.lp_events {
    grid-area: events;
}

.lp_knap {
    grid-area: lp_knap;
    margin: 50px auto;
}

iframe {
    width: 670px;
    height: 376px;
}

/* -----------------------------------------------------*/
/*KUNSTNER SIDEN*/

.kunstner_wrapper{
    margin: 8vh 20vw;
}

.forms{
    margin: auto;
    width: 500px;
}

.fa-search{
    cursor: pointer;
}
.fa-filter{
    cursor: pointer;
    font-size: 2.5em;
}

/*vores default item*/
.sqr-mainArea_item{
    height: 120px;
    width: 200px;
    text-align: center;
    padding: 15px 5px;
    margin: 5px;
    float: left; /*ellers kommer det til at ligge under hinanden*/
    background-color: #F2561D;
}

/*VARIATIONER i farve*/
.sqr-mainArea_item-peach{
    background-color: #F2A35E;
}
.sqr-mainArea_item-black{
    background-color: #403B3D;
}
.sqr-mainArea_item-salmon{
    background-color: #F27830;
}

/*Variation i font color*/
.sqr-mainArea_item-textcolor-white{
    color: white;
}
/*---------------------------------------*/
/* Program */
.days {
    display: flex;
    margin: 4vw auto;
    width: 60%;
}

.days .knap-outer {
    margin: auto;
}

.bigButton-outer {
    height: 150px;
    width: 280px;
}

.bigButton-inner {
    height: 150px;
    width: 285px;
}

.bigButton-inner p {
    font-size: 35px;
    margin: 32px 0;
}

.fredag {
    margin: auto auto 6vw auto;
    padding: 2vw;
    width: 1000px;
}

table {
    margin-top: 2vw;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    height: 50px;
}

th {
    width: 100px;
}

.lørdag {
    margin: auto;
    padding: 2vw;
    width: 1000px;
}

/* Scener */
.grid-scener {
    display: grid;
    grid-gap: 4%;
    grid-template-areas: 
    'info info'
    'royal img'
    'joule img'
    'baghuset watt'
    'skraen kulkælder'    ;
    grid-template-columns: 48% 48%;
}

.sceneinfo {grid-area: info;}
.royal { grid-area: royal;}
.joule { grid-area: joule;}
.baghuset { grid-area: baghuset;}
.skraen { grid-area: skraen;}
.watt { grid-area: watt;}
.kulkælder { grid-area: kulkælder;}
.img-scener {
    grid-area: img;
    height: 360px;
}

/*Information*/
.grid-info {
    display: grid;
    grid-gap: 4%;
    grid-template-areas: 
    'hvornår hvornår'
    'priser forplejning'
    'priser ungeindslag'
    'vagter overnatning'
    'parkering overnatning'
    'tilmeld tilmeld'    ;
    grid-template-columns: 48% 48%;
}

.hvornår {grid-area: hvornår;}
.priser { grid-area: priser;}
.forplejning { grid-area: forplejning;}
.ungeindslag { grid-area: ungeindslag;}
.vagter { grid-area: vagter;}
.parkering { grid-area: parkering;}
.overnatning { grid-area: overnatning;}
.tilmeld {grid-area: tilmeld}